.login-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 10px;
  }
  
  .image-container {
        background: url("../../../public/assets/images/loginImage.jpg") no-repeat center
        center/cover;
  }
  
  @media screen and (max-width: 768px) {
    .image-container {
      display: none;
    }

    .login-page {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  }