.navbar {
  width: 100%;
  .navbar-container {
    padding: 0 10px;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
