.sign-up-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 10px;
  }
  
  .image-container {
        background: url("../../../public/assets/images/loginImage.jpg") no-repeat center
        center/cover;
  }
  
  @media screen and (max-width: 768px) {
    .sign-up-page {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  
    .form-container {
      order: 2;
    }
  
    .image-container {
      order: 1;
    }
  }