.textReader {

    box-sizing: border-box;
    min-width: 0px;
    min-height: 400px;
    cursor: text;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: calc(0.75rem - 1px) 1rem;
    font-size: 1rem;
    
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #d8d8df;
}

.sentenceMarker {
    display: inline-block;
    background-color: #a2a2ff;

    &:first-of-type {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &:last-of-type {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.wordMarker {
    display: inline-block;
    background-color: yellow;
    border-radius: 2px;
}
